/*font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;
*/
:root {
    --sec-bg-cl: #EDF2EC;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 1440px;
    height: 134px;
    background: var(--sec-bg-cl);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Inika';
    color: #000000;
    text-decoration: none;
    width: 79px;
    height: 21px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.menu-list {
    width: 452px;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
    padding: 15px 5px;
}

.active--link {
    color: #E06733;
    font-weight: 700;
}

.welcome {
    width: 1440px;
    height: 532px;
    background: var(--sec-bg-cl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-wrapper {
    height: 407.36px;
}

.welcome-text {
    width: 549px;
    height: 340px;
}

.welcome-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin: 0;
}

.welcome-mark {
    color: #499A18;
}

.welcome-paragraf {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin: 42px 0 48px;
}

.welcome-button {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
}
.welcome-button:hover {
    background: #E06733;
    color: #FFFFFF;
}