/*font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;
*/
:root {
    --sec-bg-cl: #EDF2EC;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 1440px;
    height: 134px;
    background: var(--sec-bg-cl);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 1220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Inika';
    color: #000000;
    text-decoration: none;
    width: 79px;
    height: 21px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.menu-list {
    width: 452px;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
    padding: 15px 5px;
}

.active--link {
    color: #E06733;
    font-weight: 700;
}